{% extends "website/base.html" %}

{% block content %}
<div class="home-tabs mt-3">
    <div class="row">
        <div class="col-md-3 ">
            <a href="{% url "customer_list"%}" class="btn btn-primary btn-lg btn-block p-4">Customers</a>
        </div>
        <div class="col-md-3">
            <a href="{% url "company_list"%}" class="btn btn-success btn-lg btn-block p-4">Companies</a>
        </div>
        <div class="col-md-3">
            <a href="{% url "deal_list"%}" class="btn btn-warning btn-lg btn-block p-4">Deals</a>
        </div>
        <div class="col-md-3">
            <a href="{% url "user_list"%}" class="btn btn-info btn-lg btn-block p-4">Users</a>
        </div>
    </div>
</div>
{% endblock %}
