<!-- customer_detail.html -->

{% extends 'website/base.html' %}  <!-- Extend your base template if you have one -->

{% block content %}
<div class="container mt-5">
    <h1>Customer [{{ customer.id}}] {{customer.name}} Details</h1>

    <!-- Colored tabs for actions -->
    <div class="my-4 gap-2 d-flex flex-wrap">
        <a href="javascript:history.back()" class="btn btn-primary d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"/>
            </svg>
            Back
        </a>
        
        <a href="{% url "customer_update" customer.id%}" class="btn btn-warning">Modify</a>
        <a href="{% url "customer_delete" customer.id%}" class="btn btn-danger">Delete</a>
        <a href="{% url "customer_deals_list" customer.id%}" class="btn btn-info">Deals</a>
        <a href="#" class="btn btn-success">Tasks</a>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>First Name</th>
                <td>{{ customer.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ customer.last_name }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ customer.phone_number }}</td>
            </tr>
            <tr>
                <th>Phone Number 2</th>
                <td>{{ customer.phone_number_2 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ customer.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>State/Province</th>
                <td>{{ customer.state }}</td>
            </tr>
            <tr>
                <th>Zip Code</th>
                <td>{{ customer.zip_code }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ customer.created_at }}</td>
            </tr>
            <tr>
                <th>Last Modified</th>
                <td>{{ customer.updated_at }}</td>
            </tr>
        </tbody>
    </table>

    <div class="accordion my-4" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Latest Deals
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <!-- Colored tabs for actions -->
                <div class="my-2 gap-2 d-flex flex-wrap">
                    
                    <a href="{% url "customer_deals_list" customer.id%}" class="btn btn-primary">All Deals</a>
                    <a href="{% url "customer_deal_create" customer.id%}" class="btn btn-success">New Deal</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Company</th>
                                <th>Stage</th>
                                <th>Created at</th>
                                <th>Updated at</th>
                                <!-- Add more columns for other customer fields -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for deal in deals.all %}
                                <tr>
                                    <td><a href="{% url 'deal_detail' deal.id %}">{{ deal.id }}</a></td>
                                    <td>{{ deal.title }}</td>
                                    <td>{{ deal.company.name }}</td>
                                    <td>{{ deal.stage }}</td>
                                    <td>{{ deal.created_at }}</td>
                                    <td>{{ deal.updated_at }}</td>
                                    <!-- Add more columns for other customer fields -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>

    </div>
</div>
{% endblock %}
