<!-- user_detail.html -->

{% extends 'website/base.html' %}
<!-- Extend your base template if you have one -->

{% block content %}
<div class="container mt-5">
  <h1>User [{{ user.id}}] {{ user.username}} Details</h1>

  <!-- Colored tabs for actions -->
  <div class="my-4 gap-2 d-flex flex-wrap">
    <a
      href="javascript:history.back()"
      class="btn btn-primary d-flex align-items-center justify-content-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-90deg-left me-2"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z"
        />
      </svg>
      Back
    </a>

    {% comment %} <a href="" class="btn btn-warning">Modify</a>
    <!-- Delete 1 By a generic confirmation page  -->
    <!-- <a href="" class="btn btn-danger">Delete</a> -->

    <!-- Delete 2 By Modal -->
    <button
      type="button"
      class="btn btn-danger"
      data-bs-toggle="modal"
      data-bs-target="#deleteConfirmationModal"
    >
      Delete
    </button> {% endcomment %}
    <!-- Delete 2 Modal -->
    <div
      class="modal fade"
      id="deleteConfirmationModal"
      tabindex="-1"
      aria-labelledby="deleteConfirmationModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmationModalLabel">
              Confirm Deletion
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this company?
          </div>
          <div class="modal-footer">
            <form action="" method="post">
              {% csrf_token %}
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <input
                type="submit"
                class="btn btn-danger"
                value="Confirm Delete"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ user.id }}</td>
      </tr> 
      <tr>
        <th>Name</th>
        <td>{{ user.first_name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Joined</th>
        <td>{{ user.date_joined }}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td></td>
      </tr>
      <tr>
        <th>Email</th>
        <td></td>
      </tr>
      <tr>
        <th>Address</th>
        <td></td>
      </tr>
      <tr>
        <th>Country</th>
        <td></td>
      </tr>
      <tr>
        <th>City</th>
        <td></td>
      </tr>
      <tr>
        <th>State/Province</th>
        <td></td>
      </tr>
      <tr>
        <th>Zip Code</th>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
